* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin-block-start:1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.profile-pic {
  width: 150px;
  height: 150px;
}

.header {
  background-color: red;
  display: flex;
}

.about {
  background-color: blue;
}

.project {
  background-color: green;
}

.experience {
  background-color: yellow;
}

.footer {
  background-color: grey;
}
