* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: red;
}

.about {
  background-color: blue;
}

.project {
  background-color: green;
}

.experience {
  background-color: yellow;
}

.footer {
  background-color: grey;
}

.profile-pic {
  width: 200px;
  height: 200px;
}
