/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.profile-pic {
  width: 150px;
  height: 150px;
}

.header {
  background-color: red;
  display: flex;
}

.about {
  background-color: blue;
}

.project {
  background-color: green;
}

.experience {
  background-color: yellow;
}

.footer {
  background-color: grey;
}
